// sass --watch ./style/style.scss ./style/style.css

$very-dark-blue: hsl(243, 87%, 12%);
$desaturated-blue: hsl(238, 22%, 44%);
$bright-blue: hsl(224, 93%, 58%);
$moderate-cyan: hsl(170, 45%, 43%);
$light-grayish-blue: hsl(240, 75%, 98%);
$light-gray: hsl(0, 0%, 75%);
$white: #fff;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    background-color: black;
}

.container {
    margin: auto;
    padding: 10px;
    width: 350px;
    // height: 100vh;
    background-color: $white;
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        .logo {
            width: 100px;
        }
        .menu {
            display: flex;
            gap: 10px;
            li {
                list-style-type: none;
                cursor: pointer;
            }
        }
    }
    .promo {
        text-align: center;
        padding: 20px;
        
        &-img {
            width: 100%;
            margin-top: 50px;
        }
        &-header,
        &-text {
            margin-top: 20px;
            line-height: 1.2;
        }
        &-input,
        &-btn {
            margin-top: 20px;
            width: 90%;
            height: 30px;
            border: 1px solid $desaturated-blue;
            border-radius: 5px;

        }
        &-input::placeholder {
            padding: 20px;
            opacity: 0.4;
        }
        &-btn {
            background-color: $bright-blue;
            color: $white;
            border: none;
            cursor: pointer;
        }
        .row {
            margin-top: 20px;
            padding: 5px;
            display: flex;
            justify-content: center;
            gap: 10px;
            border-bottom: 2px solid $moderate-cyan;
        }
        .card {
            margin: auto;
            margin-top: 50px;
            width: 90%;
            background-color: $white;
        }
    }
    .subfooter {
        margin: auto;
        padding: 20px;
        background-color: $desaturated-blue;
        color:$white;
        text-align: center;
    }
    .main-footer {
        background-color: $very-dark-blue;
        color: $white;
        padding: 20px;
        .phone {
            display: flex;
            gap: 20px;
        }
        .email {
            display: flex;
            gap: 20px;
        }
    }
}


